@charset "utf-8";

.page-title {
  text-align: center;
}

.page-author {
  display: none;
}

.page-content {
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.page-content img {
  display: block;
  margin: 10px auto;
}

.column {
	flex: 25%;
	margin: 25px;
}

@media screen and (max-width: 600px) {
  .page-content {
    flex-direction: column;
  }
}