@charset "utf-8";

.header-name {
  position: relative;
  margin: 10px;
  font-size: 2em;
  font-weight: bold;
  float: left;
}

.header {
  display: flex;
  align-items: center;
}

.header-nav {
  float: right;
  margin-left: auto;
}

.header-main-nav {
  margin: 0;
  list-style: none;
}

.header-main-nav-item {
  display: block;
  position: relative;
  float: left;
  line-height: 24px;
  margin: 0 10px;
}

.header-active-nav-item {
  font-weight: bold;
  color: darkorange;
}